@import "tailwindcss";

@theme {
  --color-primary: #0096FF;
  --color-primary-hover: #007AD1;
  --color-secondary: #FF6A00;
  --color-secondary-hover: #D15700;
  --color-third: #6A00FF;
  --color-third-hover: #852EFF;
  --color-fourth: #95FF00;
  --color-fourth-hover: #7AD100;
  --color-fifth: #FF0095;
  --color-fifth-hover: #D1007A;
  --color-fail: #FF0015;
}