@import "tailwindcss";

@theme {
  --color-primary: #0096FF;
  --color-primary-hover: #007AD1;
  --color-primary-hover2: #005FA3;
  --color-light-primary: #8ACEFF;
  --color-light-primary2: #E6F4FF;
  --color-tint-primary: #F0F5FF;
  --color-tint-primary2: #E0EBFF;
  --color-secondary: #FF6A00;
  --color-secondary-hover: #D15700;
  --color-light-secondary: #FF852E;
  --color-lightest-secondary: #FFF0E6;
  --color-third: #6A00FF;
  --color-third-hover: #852EFF;
  --color-fourth: #95FF00;
  --color-fourth-hover: #7AD100;
  --color-fifth: #FF0095;
  --color-fifth-hover: #D1007A;
  --color-sixth: #FFEA00;
  --color-sixth-hover: #D1C000;
  --color-success: #15FF00;
  --color-success-hover: #11D100;
  --color-success-hover2: #0EA300;
  --color-light-success: #E8FFE6;
  --color-light-success2: #93FF8A;
  --color-tint-success: #F2FFED;
  --color-warning: #FF6A00;
  --color-light-warning: #FFD5B8;
  --color-tint-warning: #FFF2E9;
  --color-fail: #FF0015;
  --color-light-fail: #FFE6E8;
  --color-light-fail2: #FF8A93;
  --color-tint-fail: #FFEEE8;
  --color-dark: #002A47;
  --color-dark-hover: #1C3656;
}