@import "tailwindcss";

@theme {
  --color-primary: #0096FF;
  --color-primary-hover: #007AD1;
  --color-primary-hover2: #005FA3;
  --color-light-primary: #8ACEFF;
  --color-light-primary2: #E6F4FF;
  --color-secondary: #FF6A00;
  --color-secondary-hover: #D15700;
  --color-light-secondary: #FF852E;
  --color-third: #6A00FF;
  --color-third-hover: #852EFF;
  --color-fourth: #95FF00;
  --color-fourth-hover: #7AD100;
  --color-fifth: #FF0095;
  --color-fifth-hover: #D1007A;
  --color-sixth: #FFEA00;
  --color-sixth-hover: #D1C000;
  --color-success: #15FF00;
  --color-success-hover: #11D100;
  --color-warning: #FF6A00;
  --color-fail: #FF0015;
  --color-dark: #002A47;
  --color-dark-hover: #1C3656;
}